<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-plane"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li class="borange">
                            <a href="#/sessions">
                                <div class="pull-left"><i class="fa fa-calendar"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.sessionsCount}}</span> Sessions
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        
                        <li class="bgreen">
                            <a href="#/attendees">
                                <div class="pull-left"><i class="fa fa-group"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.attendeesCount}}</span> Attendees
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        
                        <li class="bviolet">
                            <a href="#/speakers">
                                <div class="pull-left"><i class="fa fa-microphone"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.speakersCount}}</span> Speakers
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            
        <div class="row">
            
            <div class="col-lg-6">
                
                <div class="widget wgreen">
                    <div data-cc-widget-header title="{{vm.map.title}}"
                         allow-collapse="true"></div>
                    
                    <div class="widget-content">
                        
                        <div class="map">
                                       
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58970.11446915391!2d-44.02935805219722!3d-22.517980436902008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9ea2ac4b4e5c1d%3A0xd475bc9356fcad22!2sVolta+Redonda+-+RJ!5e0!3m2!1sen!2s!4v1400541976957"
                                    width="400"
                                    height="230"
                                    frameborder="0" scrolling="no" marginwidth="0"
                                    marginheight="0"
                                    style="border:0"></iframe>

                        </div>

                    </div>
                
                </div>

            </div>
            
            <div class="col-lg-6">

                <div class="widget wlightblue">
                    <div data-cc-widget-header title="{{vm.speakers.title}}"
                         allow-collapse="true"></div>

                    <div class="widget-content text-center text-info">

                        <carousel class="carousel-inner" interval="vm.speakers.interval" disable-animation="true">

                            <slide data-ng-repeat="s in vm.speakers.list" active="s.active">

                                <img data-cc-img-person="{{s.imageSource}}" class="thumbnail" style="margin:auto" />

                                <div class="carousel-caption">

                                    <h4>{{s.fullName}}</h4>

                                </div>

                            </slide>

                        </carousel>

                    </div>

                </div>
                
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="{{vm.content.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content">
                            <div class="widget-content referrer">
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th><a data-ng-click="vm.content.setSort('track')" href="">Track</a></th>
                                            <th><a data-ng-click="vm.content.setSort('count')" href="">Sessions</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="t in vm.content.tracks | orderBy:vm.content.predicate:vm.content.reverse">
                                            <td>{{t.track}}</td>
                                            <td>{{t.count}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="{{vm.news.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <small>{{vm.news.description}}</small>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>