<section class="mainbar" data-ng-controller="speakerdetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i>Save
                </button>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.getTitle()}}"></div>
                <div class="widget-content user">
                    <div>
                        <div>
                            <label>First Name</label>
                            <input data-ng-model="vm.speaker.firstName"
                                   placeholder="First Name" />
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input data-ng-model="vm.speaker.lastName"
                                   placeholder="Last Name" />
                        </div>
                        <div>
                            <label>Email</label>
                            <input data-ng-model="vm.speaker.email"
                                   placeholder="Email" />
                        </div>
                        <div>
                            <label>Blog</label>
                            <input data-ng-model="vm.speaker.blog"
                                   placeholder="Blog" />
                        </div>
                        <div>
                            <label>Twitter</label>
                            <input data-ng-model="vm.speaker.twitter"
                                   placeholder="Twitter" />
                        </div>
                        <div>
                            <img data-cc-img-person="{{vm.speaker.imageSource}}" class="img-polaroid" />
                        </div>
                        <div>
                            <label>Bio</label>
                            <textarea data-ng-model="vm.speaker.bio"
                                      placeholder="Enter speaker bio"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
